<div class="form-container">
    <form 
        [formGroup]="forgotForm"
        (ngSubmit)="onSubmitForm()"
        autocomplete="false"
    >
        <div class="mb-3">
            <app-form-input-email
                [parentForm]="forgotForm"
                formFieldName="email"
            >
            </app-form-input-email>
        </div>
        <div class="d-grid">
            <button 
                class="btn btn-primary btapp-btn-primary" 
                [disabled]="!forgotForm.valid" 
                type="submit"
            >
                Submit
            </button>
        </div>
    </form>
</div>

