<label class="form-label" [for]="formFieldName">Password</label>
<div 
    class="input-group input-group-control"
    [ngClass]="{
        'invalid-input': formField && formField.invalid && (formField.dirty || formField.touched)
    }"
>
    <input 
        class="form-control btapp-form-control-password" 
        [type]="toggleInputType ? 'text': 'password'" 
        [name]="formFieldName" 
        [id]="formFieldName"
        [value]="value"
        [disabled]="isDisabled"
        [formControl]="formField"
        (input)="onChange($event)"
    />

    <div class="input-group-append">
        <button 
            class="btn btn-link btapp-btn-link" 
            type="button"
            (click)="toggleType()"
           
        >   
        <i [ngClass]="['fa', toggleInputType ? 'fa-eye-slash' : 'fa-eye']"></i>
        </button>
    </div> 
</div>
<div 
    class="text-danger" 
    *ngIf="formField && formField.invalid && (formField.dirty || formField.touched)"
>
    <div *ngIf="formField.hasError('required')">Password is required</div>
</div>